

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: blue;
}

.container {
    height: 350px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255, 255, 255, .01);
    padding: 20px;
    border: 1px solid rgb(187, 24, 24);
    box-shadow: 0 0 8px 3px #fff;
}

.title{
    padding-top: 20px;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    color: 1px solid rgb(187, 24, 24); 
}

.question{
    padding-top: 20px;
    border-radius:20px;
    font-size: large;
    text-transform: uppercase;
    color: white;
    margin: 10px 0 10px;
    
}

.option{
    width: 480px;
    display: inline-block;
    padding: 10px 0 10px;
    vertical-align: middle;
    background: rgba(255, 255, 255, .05);
    margin: 10px 0 10px 10px;
    color: #000000
    border-radius: 20px;
}
.option:hover{
    background: #08038C;
    color: #f6f6f6;
}

.next-btn{
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    padding-bottom:10px;
    font-size: large;
    font-weight: bold;
}

.next-btn:hover{
    background: #08038C;
    color: #f6f6f6;
}
.result{
    height: 100px;
    text-align: center;
    font-size: 80px;
}

.option input:checked .option{
    background:#08038C;
    color: black

}

#start-btn {
    border: none;
    outline: none;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    padding-bottom:10px;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

#start-btn:hover{
    background: #08038C;
    color: #f6f6f6;
}

.hidden {
    display: none
}

/* .show {
    display: contents
}
 */
